{% extends 'base.html.twig' %}

{% block title %}Hello Page2Controller!{% endblock %}

{% block body %}
<h1> Le hamster coureur  </h1>
    <img src="{{ asset('images/14682629.jpg') }}" alt="" class="img-fluid">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nihil placeat ducimus vitae illo, laboriosam numquam nostrum et sunt, saepe cum possimus minus labore unde iure quidem ipsum facilis quos! Aliquam et quaerat repellendus maxime eius veritatis! Officiis fuga tempora deleniti voluptatum non inventore minima facilis voluptate esse sequi accusamus, velit dolorem sint. Consectetur magni, consequatur quo delectus ad ratione nisi culpa recusandae porro, provident quod totam perferendis incidunt quas! Qui fuga tempora, enim, cumque, rem officia eligendi mollitia quo distinctio sunt quae. Exercitationem excepturi sequi modi possimus quisquam vitae molestiae aperiam, obcaecati error. Quaerat error illum quo exercitationem, ducimus voluptatum est deleniti ullam pariatur doloribus consectetur ipsum ratione in laborum quisquam, molestias eaque sit explicabo distinctio enim modi sapiente? Tempore nobis laudantium illum error voluptatibus culpa ipsa quas voluptatum natus repellat, repellendus id adipisci amet aperiam, accusantium fugit eveniet ratione cumque tenetur minima voluptatem alias quia magnam numquam! Reprehenderit explicabo commodi repellat temporibus voluptatum non eum hic alias consectetur perspiciatis at nam voluptatem iure nesciunt, officiis obcaecati ipsum inventore repellendus earum eos corporis veritatis tenetur deserunt. Quae tenetur nobis ullam eius soluta aperiam voluptatum, hic facere magni unde consectetur dicta tempora nemo minus, dolorum quidem. Dolores ut tempora corrupti.</p>
{% endblock %}
