{% extends 'base.html.twig' %}
{% block title %}
    Edit Home
    
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-between py-3">
        <a href="{{ path('app_admin_home_index') }}" class="btn btn-primary">
            Retour à la liste
                    
        </a>
        <div class="d-flex">
            {{ include('admin_home/_delete_form.html.twig') }}
        </div>
    </div>
    <h1>
        Edit Home
            
    </h1>
    {{ include('admin_home/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
